@import url("style.css");

@media screen and (max-width: 576px){
    #navigacija{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .xs{
        margin:50px auto;
    }
    #hamburger{
        margin-left:45px;
    }
   #nestaje{
    display: none !important;
   }
}
@media screen and (max-width: 576px){
    #struktura-autor{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
   }
   #moja-slika{
    width: 70vw;
   }
}


    
