@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  body{
    font-family: 'DM Sans', sans-serif;
}
h1{
    top:10%;
    left:5%;
    font-size:5.2vw;
}
#usluge{
    font-size: 1.5vw;
}
.crvena{
    color:#EA3C12 !important;
}
.crvena-bg{
    background-color: #EA3C12;
    color:#fff;
    border:none;
}
#hamburger{
    margin-right:5vw;
}
.usluge-link{
    font-size: 1.5vw;
}
#slider {
    height: 100vh;
  }
  .sector-container {
    display: flex;
    flex-wrap: wrap;
}
.form-container {
    flex-basis: 50%;
    padding: 20px;
}
.iframe-container {
    flex-basis: 50%;
    border: none;
    height: 500px;
}
iframe{
    height: 35vw;
}
#f{
    display: flex;
    justify-content: center;
}
input[type=text],input[type=password],input[type=email]{
    color:#EA3C12;
}
input[type=text]::placeholder,input[type=password]::placeholder,input[type=email]::placeholder{
    color:#EA3C12;
}
select,textarea{
    color:#EA3C12;
}
#number,#message{
    color:#EA3C12;
}
#number::placeholder,#message::placeholder{
    color:#EA3C12;
}

#button-modal,#predaj,#button{
    background-color: transparent;
    border:none;
    color:#EA3C12;
    transition: 0.75s ease-in-out;
}
#button-modal:hover,#predaj:hover,#button:hover{
    background-color: #EA3C12;
    color:#fff;
}

.block {
    padding: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    margin-bottom: 30px;
}
footer{
    position: relative;
    left: 0;
    width: 100% !important;
    bottom: 0;
}
hr{
    width: 83%;
    margin:0px auto;
}
.price-holder{
    display: flex;
    justify-content: space-between;
}
.align{
    text-align: right;
}
.tranzicija{
    transition: 0.75s ease-in-out;
}
.tranzicija:hover{
    transform: scale(1.075);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}
