@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  body{
    font-family: 'DM Sans', sans-serif;
  }
h1{
    position: absolute;
    font-size: 57.5px;
    top:8%;
    left:4%;
    color:#fff;
    text-shadow: 3px 3px 20px #000;
    line-height: 1.55;
}
.crveno{
  color:#EA3C12;
}
a{
  text-decoration-color:#EA3C12 ;
}
.margine-ld{
  margin:50px 20px;
}
#boja-texta-forme{
  color:#EA3C12;
  width: 70%;
  margin:0px auto;
}
#boja-texta-forme::placeholder{
  color:#EA3C12;
}
#dugme button{
  width: 40%;
}
h3{
  color:#EA3C12;
}
#button{
  background-color: transparent;
  color:#EA3C12;
  background-color: transparent;
  border:none;
  transition: 0.5s ease-in-out;
}
#button:hover{
  background-color: #EA3C12;
  color:#fff;
}
.modal-button{
  background-color: #fff;
  color:#EA3C12;
  transition:0.5s ease-in-out;
  border:none;
}
.modal-button:hover{
  background-color: #EA3C12;
  color:#fff;
}
#mapa{
  margin:0px auto;
}
#forma{
  margin-left:75px;
}
